<!DOCTYPE html>
<html>
<head>
    <title>My Website</title>
</head>
<body>
    <h1>Dialogflow NLU x botcopy UI</h1>

    <div
        id="botcopy-embedder-d7lcfheammjct"
        class="botcopy-embedder-d7lcfheammjct" 
        data-botId="67c05b9ea234f0c3c6958535"
        >
            <script type="text/javascript">
            var s = document.createElement('script'); 
            s.type = 'text/javascript'; s.async = true; 
            s.src = 'https://widget.botcopy.com/js/injection.js'; 
            document.getElementById('botcopy-embedder-d7lcfheammjct').appendChild(s);
            </script>
    </div>
</body>
</html>